In this peice of code we will be implementing Tf-Idf from scratch and also using sklearns module
Term Frequency-Inverse Document Frequency has two parts :
1]calculating of TF
2]Calculating IDF

In [1]:
a="i am a dog and he is a boy"
b="i am a cat and he is not a girl"
c="what are you doing with your cat boy i"

In [2]:
doca=a
docb=b
docc=c

**TOKENIZATION**

In [3]:
a=a.split(" ")
b=b.split(" ")
c=c.split(" ")

In [4]:
a

['i', 'am', 'a', 'dog', 'and', 'he', 'is', 'a', 'boy']

In [5]:
b

['i', 'am', 'a', 'cat', 'and', 'he', 'is', 'not', 'a', 'girl']

In [6]:
c

['what', 'are', 'you', 'doing', 'with', 'your', 'cat', 'boy', 'i']

In [7]:
wordset=set(a).union(set(b)).union(set(c))

In [8]:
wordset

{'a',
 'am',
 'and',
 'are',
 'boy',
 'cat',
 'dog',
 'doing',
 'girl',
 'he',
 'i',
 'is',
 'not',
 'what',
 'with',
 'you',
 'your'}

In [9]:
#another way of implemention of the above code is
list=[]
vocab=set()
list.append(a)
list.append(b)
list.append(c)
for i in range(len(list)):
    for w in list[i]:
        vocab.add(w)

In [10]:
vocab

{'a',
 'am',
 'and',
 'are',
 'boy',
 'cat',
 'dog',
 'doing',
 'girl',
 'he',
 'i',
 'is',
 'not',
 'what',
 'with',
 'you',
 'your'}

In [11]:
#creating dictioneries to keep the counts of words in each doc
#initilising a empty list with all words in voacb as keys and fill ini their count as value
dicta=dict.fromkeys(vocab,0)
dictb=dict.fromkeys(vocab,0)
dictc=dict.fromkeys(vocab,0)

In [12]:
dicta

{'dog': 0,
 'boy': 0,
 'he': 0,
 'what': 0,
 'and': 0,
 'are': 0,
 'i': 0,
 'not': 0,
 'cat': 0,
 'girl': 0,
 'you': 0,
 'your': 0,
 'am': 0,
 'is': 0,
 'with': 0,
 'a': 0,
 'doing': 0}

In [40]:
for w in a:
    dicta[w]+=1
for w in b:
    dictb[w]+=1
for w in c:
    dictc[w]+=1
# we can write a nested for loop instead of exceuting again and agian

In [41]:
dicta

{'dog': 2,
 'boy': 2,
 'he': 2,
 'what': 0,
 'and': 2,
 'are': 0,
 'i': 2,
 'not': 0,
 'cat': 0,
 'girl': 0,
 'you': 0,
 'your': 0,
 'am': 2,
 'is': 2,
 'with': 0,
 'a': 4,
 'doing': 0}

In [42]:
dictb

{'dog': 0,
 'boy': 0,
 'he': 2,
 'what': 0,
 'and': 2,
 'are': 0,
 'i': 2,
 'not': 2,
 'cat': 2,
 'girl': 2,
 'you': 0,
 'your': 0,
 'am': 2,
 'is': 2,
 'with': 0,
 'a': 4,
 'doing': 0}

In [43]:
dictc

{'dog': 0,
 'boy': 2,
 'he': 0,
 'what': 2,
 'and': 0,
 'are': 2,
 'i': 2,
 'not': 0,
 'cat': 2,
 'girl': 0,
 'you': 2,
 'your': 2,
 'am': 0,
 'is': 0,
 'with': 2,
 'a': 0,
 'doing': 2}

In [44]:
list=[dicta.values(),dictb.values(),dictc.values()]
list

[dict_values([2, 2, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 0, 4, 0]),
 dict_values([0, 0, 2, 0, 2, 0, 2, 2, 2, 2, 0, 0, 2, 2, 0, 4, 0]),
 dict_values([0, 2, 0, 2, 0, 2, 2, 0, 2, 0, 2, 2, 0, 0, 2, 0, 2])]

In [45]:
list[0]

dict_values([2, 2, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 0, 4, 0])

In [46]:
import pandas as pd
pd.DataFrame(list,columns=vocab)

,dog,boy,he,what,and,are,i,not,cat,girl,you,your,am,is,with,a,doing
0,2,2,2,0,2,0,2,0,0,0,0,0,2,2,0,4,0
1,0,0,2,0,2,0,2,2,2,2,0,0,2,2,0,4,0
2,0,2,0,2,0,2,2,0,2,0,2,2,0,0,2,0,2

**Term frequency** is defined as total number times that word apperas divided by total number of words in that document

In [48]:
def computeTF(vocab,bow):
    word,count=vocab.keys(),vocab.values()
    word
    tfdict={}
    bowcount=len(bow)
    for w in word:
        c=vocab[w]
        tfdict[w]=c/float(bowcount)
       
    return tfdict

In [49]:
tfa=computeTF(dicta,a)
tfa

{'dog': 0.2222222222222222,
 'boy': 0.2222222222222222,
 'he': 0.2222222222222222,
 'what': 0.0,
 'and': 0.2222222222222222,
 'are': 0.0,
 'i': 0.2222222222222222,
 'not': 0.0,
 'cat': 0.0,
 'girl': 0.0,
 'you': 0.0,
 'your': 0.0,
 'am': 0.2222222222222222,
 'is': 0.2222222222222222,
 'with': 0.0,
 'a': 0.4444444444444444,
 'doing': 0.0}

In [50]:
tfb=computeTF(dictb,b)
tfb

{'dog': 0.0,
 'boy': 0.0,
 'he': 0.2,
 'what': 0.0,
 'and': 0.2,
 'are': 0.0,
 'i': 0.2,
 'not': 0.2,
 'cat': 0.2,
 'girl': 0.2,
 'you': 0.0,
 'your': 0.0,
 'am': 0.2,
 'is': 0.2,
 'with': 0.0,
 'a': 0.4,
 'doing': 0.0}

In [51]:
tfc=computeTF(dictc,c)
tfc

{'dog': 0.0,
 'boy': 0.2222222222222222,
 'he': 0.0,
 'what': 0.2222222222222222,
 'and': 0.0,
 'are': 0.2222222222222222,
 'i': 0.2222222222222222,
 'not': 0.0,
 'cat': 0.2222222222222222,
 'girl': 0.0,
 'you': 0.2222222222222222,
 'your': 0.2222222222222222,
 'am': 0.0,
 'is': 0.0,
 'with': 0.2222222222222222,
 'a': 0.0,
 'doing': 0.2222222222222222}

**Inverse document Frequency** is log of  total number of documents divided by total number of document with that word

In [53]:
import math
def idf(docs):
    idf_dict={}
    n=len(docs)
    for doc in docs:
        #word,count=doc.keys(),doc.values()
        #word
        for w ,val in doc.items():
            if val>0:
                try:
                    idf_dict[w] += 1
                except:
                    idf_dict[w]=1
    for w,val in idf_dict.items():
        idf_dict[w]=math.log(n/float(val))
    return idf_dict

In [54]:
idf_dict=idf([dicta,dictb,dictc])

In [55]:
idf_dict

{'dog': 1.0986122886681098,
 'boy': 0.4054651081081644,
 'he': 0.4054651081081644,
 'and': 0.4054651081081644,
 'i': 0.0,
 'am': 0.4054651081081644,
 'is': 0.4054651081081644,
 'a': 0.4054651081081644,
 'not': 1.0986122886681098,
 'cat': 0.4054651081081644,
 'girl': 1.0986122886681098,
 'what': 1.0986122886681098,
 'are': 1.0986122886681098,
 'you': 1.0986122886681098,
 'your': 1.0986122886681098,
 'with': 1.0986122886681098,
 'doing': 1.0986122886681098}

In [56]:
def compute_tfidf(tf_dict,idf):
    tfidf={    }
    for word ,val in tf_dict.items():
        tfidf[word]=val*idf[word]
    return tfidf

In [57]:
tfidfa=compute_tfidf(tfa,idf_dict)
tfidfa

{'dog': 0.24413606414846883,
 'boy': 0.09010335735736986,
 'he': 0.09010335735736986,
 'what': 0.0,
 'and': 0.09010335735736986,
 'are': 0.0,
 'i': 0.0,
 'not': 0.0,
 'cat': 0.0,
 'girl': 0.0,
 'you': 0.0,
 'your': 0.0,
 'am': 0.09010335735736986,
 'is': 0.09010335735736986,
 'with': 0.0,
 'a': 0.18020671471473973,
 'doing': 0.0}

In [58]:
tfidfb=compute_tfidf(tfb,idf_dict)
tfidfb

{'dog': 0.0,
 'boy': 0.0,
 'he': 0.08109302162163289,
 'what': 0.0,
 'and': 0.08109302162163289,
 'are': 0.0,
 'i': 0.0,
 'not': 0.21972245773362198,
 'cat': 0.08109302162163289,
 'girl': 0.21972245773362198,
 'you': 0.0,
 'your': 0.0,
 'am': 0.08109302162163289,
 'is': 0.08109302162163289,
 'with': 0.0,
 'a': 0.16218604324326577,
 'doing': 0.0}

In [59]:
tfidfc=compute_tfidf(tfc,idf_dict)
tfidfc

{'dog': 0.0,
 'boy': 0.09010335735736986,
 'he': 0.0,
 'what': 0.24413606414846883,
 'and': 0.0,
 'are': 0.24413606414846883,
 'i': 0.0,
 'not': 0.0,
 'cat': 0.09010335735736986,
 'girl': 0.0,
 'you': 0.24413606414846883,
 'your': 0.24413606414846883,
 'am': 0.0,
 'is': 0.0,
 'with': 0.24413606414846883,
 'a': 0.0,
 'doing': 0.24413606414846883}

In [60]:
df1=pd.DataFrame([tfidfa,tfidfb,tfidfc])
df1

,dog,boy,he,what,and,are,i,not,cat,girl,you,your,am,is,with,a,doing
0,0.244136,0.090103,0.090103,0.000000,0.090103,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.090103,0.090103,0.000000,0.180207,0.000000
1,0.000000,0.000000,0.081093,0.000000,0.081093,0.000000,0.0,0.219722,0.081093,0.219722,0.000000,0.000000,0.081093,0.081093,0.000000,0.162186,0.000000
2,0.000000,0.090103,0.000000,0.244136,0.000000,0.244136,0.0,0.000000,0.090103,0.000000,0.244136,0.244136,0.000000,0.000000,0.244136,0.000000,0.244136

**Implementation using sklearn**

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [62]:
vect=TfidfVectorizer(lowercase=False)

In [63]:
x=vect.fit_transform([doca,docb,docc])

In [64]:
feature_names=vect.get_feature_names()
feature_names

['am',
 'and',
 'are',
 'boy',
 'cat',
 'dog',
 'doing',
 'girl',
 'he',
 'is',
 'not',
 'what',
 'with',
 'you',
 'your']

In [65]:
dense=x.todense()
dense

matrix([[0.38550292, 0.38550292, 0.        , 0.38550292, 0.        ,
         0.50689001, 0.        , 0.        , 0.38550292, 0.38550292,
         0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.34385143, 0.34385143, 0.        , 0.        , 0.34385143,
         0.        , 0.        , 0.45212331, 0.34385143, 0.34385143,
         0.45212331, 0.        , 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.37380112, 0.28428538, 0.28428538,
         0.        , 0.37380112, 0.        , 0.        , 0.        ,
         0.        , 0.37380112, 0.37380112, 0.37380112, 0.37380112]])

In [66]:
denselist=dense.tolist()
denselist

[[0.38550292161010064,
  0.38550292161010064,
  0.0,
  0.38550292161010064,
  0.0,
  0.5068900148458076,
  0.0,
  0.0,
  0.38550292161010064,
  0.38550292161010064,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 [0.3438514296174855,
  0.3438514296174855,
  0.0,
  0.0,
  0.3438514296174855,
  0.0,
  0.0,
  0.45212330826338587,
  0.3438514296174855,
  0.3438514296174855,
  0.45212330826338587,
  0.0,
  0.0,
  0.0,
  0.0],
 [0.0,
  0.0,
  0.37380111513895253,
  0.2842853829563292,
  0.2842853829563292,
  0.0,
  0.37380111513895253,
  0.0,
  0.0,
  0.0,
  0.0,
  0.37380111513895253,
  0.37380111513895253,
  0.37380111513895253,
  0.37380111513895253]]

In [67]:
df2=pd.DataFrame(denselist,columns=feature_names)
df2

,am,and,are,boy,cat,dog,doing,girl,he,is,not,what,with,you,your
0,0.385503,0.385503,0.000000,0.385503,0.000000,0.50689,0.000000,0.000000,0.385503,0.385503,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.343851,0.343851,0.000000,0.000000,0.343851,0.00000,0.000000,0.452123,0.343851,0.343851,0.452123,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.373801,0.284285,0.284285,0.00000,0.373801,0.000000,0.000000,0.000000,0.000000,0.373801,0.373801,0.373801,0.373801

In [68]:
df1

,dog,boy,he,what,and,are,i,not,cat,girl,you,your,am,is,with,a,doing
0,0.244136,0.090103,0.090103,0.000000,0.090103,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.090103,0.090103,0.000000,0.180207,0.000000
1,0.000000,0.000000,0.081093,0.000000,0.081093,0.000000,0.0,0.219722,0.081093,0.219722,0.000000,0.000000,0.081093,0.081093,0.000000,0.162186,0.000000
2,0.000000,0.090103,0.000000,0.244136,0.000000,0.244136,0.0,0.000000,0.090103,0.000000,0.244136,0.244136,0.000000,0.000000,0.244136,0.000000,0.244136

THE ANSWERS are not matching as sklearn does smoothing and because our document size is very small there is a huge difference if corpora was large the difference would have been small